<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.app.dao.IndexArticleMapper">
    <resultMap id="IndexArticlePO" type="org.spring.springboot.app.domain.po.IndexArticlePO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="list_image" jdbcType="VARCHAR" property="listImage"/>
        <result column="list_type" jdbcType="INTEGER" property="listType"/>
        <result column="original_image" jdbcType="BIT" property="originalImage"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="disable_flag" jdbcType="BIT" property="disableFlag"/>
        <result column="del_flag" jdbcType="BIT" property="delFlag"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <resultMap id="IndexArticleResVO" type="org.spring.springboot.app.domain.vo.IndexArticleResVO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="list_image" jdbcType="VARCHAR" property="listImage"/>
        <result column="list_type" jdbcType="INTEGER" property="listType"/>
        <result column="original_image" jdbcType="BIT" property="originalImage"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="disable_flag" jdbcType="BIT" property="disableFlag"/>
        <result column="del_flag" jdbcType="BIT" property="delFlag"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <insert id="insertIndexArticleCategory">
        INSERT INTO index_article_category
        (article_id, category_id)
        VALUES(#{articleId}, #{categoryId});
    </insert>

    <delete id="deleteIndexArticleCategory">
        DELETE FROM index_article_category
        WHERE article_id=#{articleId}
    </delete>

    <select id="selectPage" resultMap="IndexArticleResVO">
        SELECT
            a.id,
            a.title,
            a.content,
            a.description,
            a.sort,
            a.create_by,
            a.create_date,
            a.update_by,
            a.list_image,
            a.list_type,
            a.original_image,
            a.update_date,
            a.disable_flag,
            a.del_flag
        FROM
            index_article a
        LEFT JOIN index_article_category b ON
            a.id = b.article_id
        LEFT JOIN index_category c ON
            b.category_id = c.id
            AND c.del_flag = FALSE
        WHERE 1=1
            <if test="title != null and title != ''">
                AND a.title like '%${title}%'
            </if>
            <if test="description != null and description != ''">
                AND a.description like '%${description}%'
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND b.category_id = #{categoryId}
            </if>
            <if test="listType != null and listType != ''">
                AND a.list_type = #{listType}
            </if>
            <if test="originalImage != null">
                AND a.original_image = #{originalImage}
            </if>
            <if test="delFlag != null">
                AND a.del_flag = #{delFlag}
            </if>
            <if test="disableFlag != null">
                AND a.disable_flag = #{disableFlag}
            </if>
            ORDER BY if(a.sort=0,1,0), a.disable_flag ASC, a.sort ASC
    </select>

    <select id="selectMaxSort" resultType="Integer">
        select ifnull(max(sort),0) from index_article ia where ia.sort != 0 and disable_flag = false and del_flag = false
    </select>

    <select id="selectMaxSortExcludeSelf" resultType="Integer">
        select ifnull(max(sort),0) from index_article ia where ia.sort != 0 and id != #{id} and disable_flag = false and del_flag = false
    </select>

    <update id="updateAdd">
        update index_article set sort = sort + 1 where sort >= #{start} and sort != 0 and disable_flag = false and del_flag = false
    </update>

    <update id="updateSub">
        update index_article set sort = sort - 1 where sort >= #{start} and sort != 0 and disable_flag = false and del_flag = false
    </update>

    <update id="updateBetweenSub">
        update index_article set sort = sort - 1 where sort between #{start} and #{end} and sort != 0 and disable_flag = false and del_flag = false
    </update>

    <update id="updateBetweenAdd">
        update index_article set sort = sort + 1 where sort between #{start} and #{end} and sort != 0 and disable_flag = false and del_flag = false
    </update>

</mapper>